* {
    margin: 0;
}

body{
    background-color: beige;
}

/* Design av Header */
header {
    height: 80px;
    background-color: #805231;
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin: 0;
    text-decoration: none;
}

/* Design av meny för mobilenheter, placeras till höger om skärmen */
nav {
    background-color: #805231;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.8em 0;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em 1em;
}

nav li:hover {
    background-color: rgb(94, 15, 15);
    cursor: pointer;
}

/* Meny knapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #805231;
    border: white solid 2px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: rgb(94, 15, 15);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: white;
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;

}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

/* Kurserna */
#courseTable{
    width: fit-content;
    margin: 2vh auto;
}

table{
    font-size: larger;
    
}

th, td{
    padding: 1em;
}

thead{
    background-color: #FFD700; 
    color: #191919; 
    font-weight: bold; 
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}
tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}

tbody tr:hover {
    background-color: rgb(250, 176, 149); 
}

#btn{
    display: inline-block;
    padding: 0.5em 0.5em; 
    background-color: #cd5852; 
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem; 
    cursor: pointer;
    transition: background-color 0.2s ease; 
}

#btn:hover {
    background-color: #3a0d0d;
}

/*Lägg till kurs*/
form {
    width: fit-content;
    margin: 5vh auto; 
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

#coursecode{
    text-transform: uppercase;
}

#progression{
    margin: 2vh;
}

input[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    background-color: #0074D9;
    color: #ffffff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#error{
    font-size: 2em;
    font-weight: bold;
    width: fit-content;
    margin: 2vh auto;
    padding: 0.5rem;
    color: #890000;
}

/* Om webbplatsen */
article {
    background-color: #f9f9f9;
    padding: 1rem;
    max-width: 75ch;
    margin: 5vh auto;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    h1{
        margin-bottom: 1vh;
        text-align: center;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}

/*Footer*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: #805231;
    p{
        text-align: center;
        color: white;
        font-size: 1.5rem;
    }
}

/* Media queries */
@media only screen and (min-width: 801px) {
    header {
        padding: 0 3em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 1.2em 0;
    }
}


@media only screen and (max-width: 800px){
    #courseTable{
        background-color: black;
    }
    
    table{
        font-size: medium;
    }
    
    th, td{
        width: fit-content;
        padding: 0.1rem;
    }

    #btn{
        padding: 0.2em 0.1em; 
    }
}